
html, body {
  
  margin: 0;
  
  padding: 0;
  
  overscroll-behavior: none;
  
  div.sticky {
    
    position: -webkit-sticky;
    
    position: sticky;
    
    top: 0;
    
    background-color: #45444c;
    
    padding: 1px;
    
    font-size: 1px;
    
  }
  
}

canvas {
  
  display: block;
  
}
