html, body {
  
  margin: 0;
  
  padding: 0;
  
  overscroll-behavior: none;
  
  overflow: hidden;

    position: -webkit-sticky;
    
    position: sticky;

    background-color: #413f47;
  
}

canvas {
  
  display: block;
  
}
