
html, body {
  
  margin: 0;
  
  padding: 0;
  
  overscroll-behavior: none;

    position: -webkit-sticky;
    
    position: sticky;

    background-color: #45444c;
  
}

canvas {
  
  display: block;
  
}
